*, 
::after, 
::before, 

body {
    margin: 50px;
    padding: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav-center {
    border: solid;
    border-radius: 15px 50px;
    color: white;
    font-size:xx-large
}

.container {
    border: solid;
    border-radius: 15px 50px;
    color: white
}